service: serverless-epitech-login

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-3
  stage: ${opt:stage, 'dev'}
  timeout: 29
  environment:
    API_NAME: serverless-epitech-api
    LAMBDA_TIMEOUT: 29
    LOG_LEVEL: INFO
    PROJECT_NAME: serverless-epitech-login
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}
  logs:
    restApi:
      accessLogging: true
      format: '{"requestId":"$context.requestId","ip":"$context.identity.sourceIp","userAgent":"$context.identity.userAgent","requestTime":"$context.requestTime","httpMethod":"$context.httpMethod","resourcePath":"$context.resourcePath","status":"$context.status","protocol":"$context.protocol","responseLength":"$context.responseLength"}'
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
          Resource: arn:aws:logs:*:*:*
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
          Resource: "*"

functions:
  login:
    handler: handler.login
    name: ${self:service}-${self:provider.stage}-func
    timeout: 29
    events:
      - http:
          path: /login
          method: post
          authorizer: aws_iam
